@import './nav.css';



:root {
  --main-text-color: #F7F6FB;
  --main-background-color: linear-gradient(130deg,#2a2d35,#2f323b 60%,#464b58 85%);
  --main-header-color:rgb(219, 94, 94);
  --main-text-color: #F3F3F3;
  --main-card-bg-color: #2c2f38;

}

body {
  min-height: 937px;
  color: var(--main-text-color);
  background: var(--main-background-color);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  margin: 0px;
  user-select: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--main-text-color);
}

.cards-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 88%;
  width: 100%;
}

.current-card-container{
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px black;
}

.current-card-header{
  display: flex;
  height: 35%;
}


.current-card-header-left{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 4%;
}

.current-card-header-right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 55%;
  height: 100%;
}

.current-card-img-container{
  display: flex;
  height: 65%;
  align-items: center;
  justify-content: center;
}
.current-card-img{
  height: 90px;
  width: 90px;
  /* background-color: var(--main-card-bg-color); */
}

.current-card-temp{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: space-evenly;
  height: 40%;
}

.daily-card-temp{
  display: flex;
  justify-content: center;
}

.card-seperator{
  border: 1px solid #000;
    margin-top: 10px;
    align-self: center;
    width: 75%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.233);
}

.current-card-bottom-container{
  display: flex;
  justify-content: center;
  height: 65%;
}

.current-card-bottom-left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  width: 60%;
  
}

.current-card-bottom-right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.daily-card-bottom-container{
  display: flex;
  flex-direction: column;
  height: 65%;
  overflow: auto;
}

.daily-card-bottom-data{
  display: flex;
  justify-content: center;
  min-height: 85%
}

.daily-card-bottom-left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  width: 60%;
  
}

.daily-card-bottom-right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.sun-moon{
  min-height: 40%;
  display: flex;
}

.sun-moon-left, .sun-moon-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.sun-moon-img{
  height: 90px;
  width: 90px;
}

.sun-moon-data-container{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.single-card-container{
  height: 83%;
  width: 22.5%;
  min-width: 235px;
}

.daily-weather-title{
  background: #27272a82;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
}

.title-and-cards-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 822px;
}

.list-and-card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 88%;
}

.hourly-list-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.hourly-list-header{
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  border: solid 2px var(--main-header-color);
  border-radius: 7px 7px 5px 5px;
  border-top: none;
}

.hourly-list-header-tab, .hourly-list-header-tab-selected{
  background-color: #27272a82;
  padding: 15px;
  width: 65px;
  border-radius: 5px 5px 0px 0px;
}

.hourly-list-header-tab:hover{
  cursor: pointer;
  background-color: #393e4c;
}

.hourly-list-header-tab-selected{
  /* border: solid 2px var(--main-header-color);
  border-top: none;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding: 15px 13px; */
  background-color: var(--main-header-color);
}


.hourly-list-parent{
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 500px;
  width: 50%;
  direction: rtl;
}

.hourly-list-element, .hourly-list-element-selected{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border: solid var(--main-header-color) 1px;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  min-height: 7.5%;
  background-color: #393e4c;
  direction: ltr;
}
.hourly-list-element-selected{
  background-color: var(--main-header-color);
  
}
.hourly-list-element:hover{
  background-color: #393e4c69;
  cursor: pointer;
}

.hourly-list-img{
  width: 50px;
  height: 50px;
}